$primary-color: #1F1F38;
$primary-varient: #2C2C6C;
$secondary-color: #4db5FF;
$secondary-varient: rgba(77, 181, 255, 0.4);
$color-light: rgba(255, 255, 255, 0.8);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: $secondary-color;

  &:hover{
    color: white;
  }
}


@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}


@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

.blue{
  color: #58b3f3;
}

.pink{
  color: rgba(219, 146, 158, 0.884);
}

.red{
  color: red;
}

.yellow{
  color: rgba(241, 241, 42, 0.87);
}

.green{
  color: rgb(38, 224, 38);
}

::-webkit-scrollbar{
  width: 1em;
}

::-webkit-scrollbar-thumb{
  background-color: $primary-color;
  border-radius: 8px;
  border: .2em solid $color-light;
}
::-webkit-scrollbar-thumb:hover{
  background-color: $primary-varient;
  border: .2em solid white;
}

::-webkit-scrollbar-track{
  background-color: $color-light;
  border-radius: 5px;
}
::-webkit-scrollbar-track:hover{
  background-color: white;
}

@supports(scrollbar-color: $primary-color){
  *{
    scrollbar-color: $primary-color;
    scrollbar-width: thin;
  }
}