$primary-color: #1F1F38;
$primary-varient: #2C2C6C;
$secondary-color: #4db5FF;
$secondary-varient: rgba(77, 181, 255, 0.4);
$color-light: rgba(255, 255, 255, 0.8);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: $secondary-color;

  &:hover{
    color: white;
  }
}


@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}


@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// @mixin media-md {
//   @media screen and (min-width: 768px) {
//     @content;
    
//   }
// }

// @mixin media-lg {
//   @media screen and (min-width: 1024px) {
//     @content;
//   }
// }

// @mixin media-xl {
//   @media screen and (min-width: 1600px) {
//     @content;
//   }
// }