.home{
  display: grid;
  padding: 3rem;
  margin: 0 auto;
  row-gap: .5rem;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media (max-width: 37.5rem){
    padding: 2rem;
  }

  &_title{
    font-size: 3rem;

    @media (max-width: 37.5rem){
      font-size: 2.5rem;
    }
  }

  &__name{
    font-size: 3.5rem;

    @media (max-width: 37.5rem){
      font-size: 3rem;
    }

    &--last{
      color: $secondary-color;
    }
  }

  &_title_bot{
    font-size: 2.5rem;

    @media (max-width: 37.5rem){
      font-size: 2rem;
    }
  }

  &_me{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 0;

    & > img{
      width: 300px;
      height: 300px;
      box-shadow: 15px 10px 3px $secondary-color;
      border: 5px solid $secondary-varient;
      border-radius: 5px;
    }
  }
}

.cta{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}