.projects {
    margin-bottom: 0;

    &__bio-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
  
      .text-secondary {
        font-size: 2.5rem;
        margin: 1.5rem 0;
      }
    }
    
    .portfolio_container {
      width: 75%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap:2.1rem;

      @media (max-width: 64rem){
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 37.5rem){
        width: 65%;
        grid-template-columns: 1fr;
      }
      

      .portfolio_item{
        background: $primary-varient;
        padding: 1.2rem;
        border-radius: 2rem;
        text-align: center;
        border: 1px solid transparent;
        @include transition-ease;

        &:hover{
          border-color: $secondary-varient;
          background: transparent;
        }

        &-image{
          border-radius: 1.5rem;
          overflow:hidden;
        }
      }

      
    }

    .social-icons {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    
    footer {
      margin: 0 1rem 2rem 0;
      transform: rotate(90deg) translate(-3rem, -5rem);
    }
  }