@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'projects';
@import 'contact';
@import 'modal';



body {
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  font-weight: 'Open Sans', sans-serif;
  line-height: 1;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}


.btn{
  width: max-content;
  display: inline-block;
  color: $secondary-color;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  margin-top: 0.8rem;
  cursor: pointer;
  border: 1px solid $secondary-color;
  @include transition-ease;

  &:hover{
    background: white;
    color: $primary-color;
    border-color: transparent;
  }
}

.btn-primary{
  background: $secondary-color;
  color: $primary-color;
}



img{
  display: block;
  width: 100%;
  height: 20vh;
  margin-bottom: 0.8rem;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

.text-light {
  color: $color-light;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100vh;
  width: 100%;

  .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    a {
      padding: 0.4rem;
      @include transition-ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: set-text-color($primary-color);
}